<!-- Start of top....(Navbar at top over background picture).....////////////////////////////////////////////-->

<div class="container">
	<div class="header-box">
		<h2 class="header"> Tell me and I forget. </h2>
		<h2 class="header"> Teach me and I remember. </h2> 
		<h2 class="header">	Involve me and I learn. </h2>
		<p class="head" id="ben"> ~Benjamin Franklin </p>
	</div>
</div>

<!--///////////////////////////......Main Section Begins........//////////////////////////////////////////////////////////-->

	<div class="container" id="main-frame">
		<div class="inner-special">	
			<div class="info-section">
				<div class="container" id="contain-me">
				<div class="me-box">
					<h3 class="me-info"> HELLO! </h3>
					<h4 class="me-info"> I'M ALAJUWON	</h4>
					<p class="me-info"> Ruby on Rails Developer</p>
					<div class="under-line"></div>
				</div>
				</div>
				<div class="arrow"></div>
			</div>
		</div>
	</div>


  																		




  
