<!-- Start of top....(Navbar at top over background picture).....////////////////////////////////////////////-->

<div class="container">
	<div class="header-box">
		<h2 class="header"> Tell me and I forget. </h2>
		<h2 class="header"> Teach me and I remember. </h2> 
		<h2 class="header">	Involve me and I learn. </h2>
		<p class="head" id="ben"> ~Benjamin Franklin </p>
	</div>
</div>

<!--///////////////////////////......Main Section Begins........//////////////////////////////////////////////////////////-->

<div class="container" id="main-frame">
	<div class="inner-special">	
		<div class="info-section">
			<div class="container" id="contain-me">
				<div class="me-box">
					<h3 class="me-info"> HELLO! </h3>
					<h4 class="me-info"> I'M </h4>
					<h4 class="me-info"> ALAJUWON	</h4>
					<div class="under-line"></div>
					<p class="meme-info"> Ruby on Rails Developer</p>
					<div class="arrow"></div>
					<br>
					<p class="about-me"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<br>
					<%= image_tag "codecode.jpg", class: "code-pic" %>
				</div>
			</div>
		</div>
	</div>
</div>


  																		




  
