// Place all the styles related to the Portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





/*-------------------------------Section With BG-Pic and Headings -------------------------------------------*/

body, html {
	width: 100%;
	height: 3000px;
	background-color: white;
	background-image: url(image-path('alajuwon.jpg'));
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-filter: contrast(125%); /* Safari */
   filter: contrast(125%);
}



.container{
	height: auto;
	width: 100%;
}

 
.header-box{
	height: auto;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	margin-top: 30%;
	margin-bottom: 50%;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}
 

.header{
	text-align: center;
	color: tomato;
  font-family: sans-serif;
  padding: 3px;
  letter-spacing: 10px;
  font-weight: 100;
}

#ben{
	color: white;
	text-align: center;
}


/*
@media (min-width: 700px) { */

/*------------------------------------------Main Section Begins----------------------------------------------------*/


#main-frame{
	width: 100%;
	height: auto;
	background-color: tomato;
}


.inner-special{
	width: 85%;
	height: auto;
	background-color: #424242;
	border-radius: 6px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -14%;
	padding: 3em;
	border-top: 30px solid tomato;
  border-right: 15px solid black;
  border-left: 15px solid black;
}

/*......................................... About Me Section ......................................................*/

.info-section{
	width: 100%;
	height: auto;
	padding: 2em;
}


#contain-me{
	width: 100%;
	height: auto;
}

.me-box{
	margin-right: auto;
	margin-left:  auto;
	text-align: center;
  color: tomato;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 30px;
  width: 100%;
  height: auto;
}

.under-line{
	height: 1px;
	width: 100%;
	border: solid 1px tomato;
	margin-right: auto;
	margin-left: auto;
}


.arrow{
	 width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.meme-info{
	font-size: 18px;
	letter-spacing: 6px;
}

.about-me{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	color: white;

}

#pic{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	text-align: center;
}

.code-pic{
	width: 300px;
	max-width: 100%;
  display: inline-block;
  padding: 2em;
}

.skill-box{
	width: 100%;
	height: auto;
	background-color: #424242;
	border-radius: 5px;
	padding: 2px;
	border-left: 20px solid;
  border-top: 20px solid tomato;
  border-right: 20px solid;
  margin-top: 5em;	
}

.skills-header{
	text-align: center;
	color: white;
}

.skills{
	color: tomato;
	text-align: center;

}

/*............................................... Project Section ....................................*/

.project-section{
	width: 100%;
	height: auto;
	padding: 2em;
}

.project-header{
	text-align: center;
	color: white;
	margin-bottom: 3em;
}

.project-chain-1, .project-chain-2{
	width: 100%;
	height: 340px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 1em;
}

.p1{
	width: 45%;
	height: 300px;
	border: solid tomato;
	float: right;
	margin-right: auto;
	margin-left: auto;
}

.pc-header{
	text-align: center;
	color: white;
	padding: 3em;
	font-family: sans-serif;
}

#after-math:hover{
	color: tomato;
	padding: 1em;
	font-family: sans-serif;
	font-size: 100%;
}



.p2{
	width: 45%;
	height: 300px;
	border: solid yellow;
}



.p3{
	width: 45%;
	height: 300px;
	border: solid tomato;
	float: right;
	
}

.p4{
	width: 45%;
	height: 300px;
	border: solid yellow;
}



